.animated-search-container {
  --bg: #e3e4e8;
  --fg: #17181c;
  --input: #042f2e;
  --primary: #f0fdfa;
  --dur: 1s;
  position: relative;
  width: 100%;
  margin: auto;
}

.animated-search-container input,
.animated-search-container .caret {
  display: block;
  transition: all calc(var(--dur) * 0.5) linear;
}

.animated-search-container input {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0.25em var(--primary);
  caret-color: var(--primary);
  width: 2em;
  height: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--fg);
  margin: auto;
  border: none;
  padding: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><line x1="4" y1="4" x2="16" y2="16" stroke="red" stroke-width="2"/><line x1="16" y1="4" x2="4" y2="16" stroke="red" stroke-width="2"/></svg>')
    no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.animated-search-container input:focus,
.animated-search-container input:valid {
  background-color: var(--input);
  color: var(--primary);
  border-radius: 0.25em;
  box-shadow: none;
  padding: 0.75em 1em;
  transition-duration: calc(var(--dur) * 0.25);
  transition-delay: calc(var(--dur) * 0.25);
  width: 100%;
  height: 3em;
}

.animated-search-container input:focus {
  animation: showCaret var(--dur) steps(1);
  outline: transparent;
}

.animated-search-container input:focus + .caret,
.animated-search-container input:valid + .caret {
  animation: handleToCaret var(--dur) linear forwards;
  background: transparent;
  width: 0.25em;
  height: 1em;
  opacity: 0;
}

.animated-search-container input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.animated-search-container label {
  color: #e3e4e8;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.animated-search-container .caret {
  background: var(--primary);
  border-radius: 0 0 0.125em 0.125em;
  margin-bottom: -0.6em;
  width: 0.25em;
  height: 1em;
  transform: translate(0.75em, -0.25em) rotate(-45deg);
  transform-origin: 50% 0;
  margin: auto;
  pointer-events: none;
}

@keyframes showCaret {
  from {
    caret-color: transparent;
  }
  to {
    caret-color: var(--primary);
  }
}

@keyframes handleToCaret {
  from {
    background: currentColor;
    width: 0.25em;
    height: 1em;
    transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
    opacity: 1;
  }
  25% {
    background: currentColor;
    width: 0.25em;
    height: 1em;
    transform: translate(0, -1em) rotate(-180deg) translate(0, 0.875em);
    opacity: 1;
  }
  30% {
    opacity: 0;
    width: 0.25em;
    height: 1em;
  }
  50%,
  62.5% {
    background: transparent;
    width: 0.25em;
    height: 1em;
    opacity: 0;
  }
  70%,
  75%,
  87.5%,
  99% {
    background: transparent;
    width: 0.25em;
    height: 1em;
    opacity: 0;
  }
  to {
    background: transparent;
    width: 0.25em;
    height: 1em;
    opacity: 0;
  }
}

.animated-search-container input:focus-visible {
  outline: none;
}
